<app-box>
  <div class="flex items-center justify-between w-full pb-3">
    <h1 class="text-xl text-mainBlue font-bold">Lista de pedidos</h1>
    <select
      id="statusFilter"
      [(ngModel)]="selectedStatus"
      class="bg-mainBlue p-2 text-white border-none focus:outline-none focus:ring-0"
    >
      <option class="bg-white text-black" value="all">Todos</option>
      <option
        class="bg-white text-black"
        *ngFor="let status of statusOptions"
        [value]="status"
      >
        {{ status }}
      </option>
    </select>
  </div>

  <img src="assets/papeis-home.jpg" class="rounded-md w-full" />
  <div class="flex flex-col mt-4 gap-4 w-full">
    <div
      class="flex-col border-light-blue-500 flex w-auto h-auto p-4 justify-center rounded-md border-2 border-solid"
      *ngFor="let status of filteredPedidos"
    >
      <div class="flex justify-between items-center">
        <a class="font-bold" routerLink="/order/details">{{ status.title }}</a>
        <button
          class="w-28 bg-mainBlue text-white font-medium uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 cursor-pointer"
          type="button"
          (click)="showDetailsOrder(status.id)"
        >
          {{ status.statusBtn }}
        </button>
      </div>
      <span>Data e Hora: {{ status.date | date:'HH:mm dd/MM/yyyy '  }}</span>
      <p>{{ status.description }}</p>
  </div>
</div>
</app-box>
