<app-box>
  <div class="w-full">
    <h2 class="font-medium">Lista de clientes</h2>

    <div class="p-2">
      <div class="table-container overflow-x-auto">
        <table
          class="w-full text-center text-sm text-gray-500 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Id</th>
            <th scope="col" class="px-6 py-3">Nome</th>
            <th scope="col" class="px-6 py-3">CPF</th>
            <th scope="col" class="px-6 py-3">Ação</th>
          </tr>
          <tbody>
            <ng-container *ngFor="let report of reports">
              <tr class="border-b bg-white">
                <td class="w-32 p-4">{{ report.id }}</td>
                <td class="w-32 p-4">{{ report.name }}</td>
                <td class="w-32 p-4">{{ report.cpf }}</td>
                <td class="w-32 p-4">
                  <button (click)="showDetails(report)">Ver detalhes</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-box>
