/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #0074B2;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #d3d3d3; 
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

::-moz-scrollbar {
  width: 12px; 
}

::-moz-scrollbar-thumb {
  background-color: #d3d3d3; 
  border-radius: 6px; 
}

::-moz-scrollbar-track {
  background-color: #f1f1f1; 
}
