<div class="flex h-full">
  <div
    class="bg-customGray w-12 px-4 py-8 flex flex-col items-center justify-center"
  >
    <div class="text-black text-2xl font-semibold mb-8">A</div>

    <ul class="space-y-2 text-center">
      <li class="text-black hover:text-gray-300">
        <a href="#">A</a>
      </li>
      <li class="text-black hover:text-gray-300">
        <a href="#">A</a>
      </li>
      <li class="text-black hover:text-gray-300">
        <a href="#">A</a> 
      </li>
      <li class="text-black hover:text-gray-300">
        <a href="#">A</a>
      </li>
    </ul>
  </div>
  <ng-content></ng-content>
</div>
