<div class="flex h-auto">
  <div
    class="bg-customGray w-12 px-4 py-8 flex flex-col items-center justify-center"
  >
    <ul class="space-y-2 text-center">
      <li class="text-black hover:text-gray-300">
        <a href="#">
          <mat-icon fontIcon="list"></mat-icon>
        </a>
      </li>
      <li class="text-black hover:text-gray-300">
        <a href="#">A</a>
      </li>
      <li class="text-black hover:text-gray-300">
        <a href="#">A</a>
      </li>
      <li class="text-black hover:text-gray-300">
        <a href="#">A</a>
      </li>
    </ul>
  </div>
  <ng-content></ng-content>
</div>
