<div class="z-50" #popoverDropdownRef>
  <div
    class="bg-mainBlue border-0 mb-3 block z-50 font-normal leading-normal text-sm max-w-xs text-left no-underline break-words rounded-lg"
  >
    <div>
      <div
        class="bg-mainBlue text-white opacity-75 font-semibold p-3 mb-0 border-b border-solid border-slate-100 uppercase rounded-t-lg"
      >
        <img src="pt-flag" alt="Bandeira do Brasil" class="w-6 h6" />
        <img src="en-flag" alt="Bandeira da Britania" class="w-6 h-6" />
      </div>
    </div>
  </div>
</div>
