<app-box>
  <div class="flex items-center justify-between w-full pb-3">
    <h1 class="text-xl text-mainBlue font-bold">Pedidos abertos</h1>
  </div>
  <img src="assets/employee-home.png" class="rounded-md w-full" />
  <ng-container *ngIf="pedidos.length > 0; else empty">
    <div class="flex flex-col mt-4 gap-4 w-full max-h-[480px] overflow-y-scroll">
      <div class="flex-col border-light-blue-500 flex w-auto h-auto p-4 justify-center rounded-md border-2 border-solid"
        *ngFor="let pedido of pedidos">
        <div class="flex items-center justify-between">
          <div class="flex flex-col">
            <a class="font-bold">{{ pedido.nome }} {{ pedido.id }}</a>
            <span>Data: {{ pedido.data | date: "dd/MM/yyyy - HH:mm" }}</span>
          </div>
          <button
            class="bg-mainBlue text-white font-medium uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150 cursor-pointer"
            type="button" (click)="openConfirmationModal(pedido)">
            Confirmar recolhimento
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #empty>
    <div class="w-full pt-4">
      <app-no-data-found></app-no-data-found>
    </div>
  </ng-template>
</app-box>

<app-confirmation-modal *ngIf="selectedStatusToChange" (confirm)="confirmStatusChange(selectedStatusToChange)"
  (cancel)="cancelStatusChange()"></app-confirmation-modal>
<app-error-alert *ngIf="showErrorAlert"></app-error-alert>