<div
  class="fixed inset-0 flex flex-col justify-center items-center bg-black bg-opacity-50 z-50"
>
  <div class="w-1/2 h-auto bg-white  rounded-lg shadow-md flex-col">
    <div class="font-semibold ml-40 p-6">
        <td> Produto</td>
        <td class="pl-32"> Quantidade</td>
        <td class="pl-32"> Valor produto</td>
        <td class="pl-32"> Valor total</td>
        <td class="pl-32"> Prazo de entrega</td>
    </div>
    <tbody>
    <div
          class="bg-white"
          *ngFor="let product of products; let i = index"
        >
        <td class="w-32">
            <img [src]="product.imgUrl" alt="{{ product.nome }}" />
          </td>
          <td class="dark:text-gray px-6 py-4 text-gray-900 pl-12 text-xl font-medium" >
            {{ product.nome }}
          </td>
          <td class="dark:text-gray px-6 py-4 text-gray-900 pl-32 text-xl font-medium">
            {{ product.quantidade }}
          </td>
          <td class="dark:text-gray px-6 py-4 text-gray-900 pl-36 text-xl font-medium">
            {{ product.valor | currency:'BRL' }}
          </td>
            <td class="dark:text-gray px-6 py-4 text-gray-900 pl-32 text-xl font-medium">
            R$:{{ calculateTotalValue() | number: "1.2-2" }}
            </td>
            <td class="dark:text-gray px-6 py-4 text-gray-900 pl-24 text-xl font-medium">Prazo de entrega: {{ calculateDeliveryDate() }}</td>       

    </div>  
    </tbody>
   </div>
   <div class="w-1/2 bg-white p-6 shadow-md relative">
    <div class="mb-4 items-center">
      <h2 class="text-xl font-semibold flex justify-center">Confirmação</h2>
    </div>
    <div class="mb-4 flex justify-end">
      <p class="text-xl text-red-500 cursor-pointer font-bold"
      (click)="onCancelClick()">
      X
    </p>
    </div>
    <div class="mb-4 flex justify-center">
      <p>Tem certeza de que deseja aceitar o orçamento?</p>
    </div>
    <div class="flex justify-center">
      <div>
        <button
          class="px-4 py-2 border-2 border-red-500 text-red-500 rounded mr-4"
          (click)="onRejectClick()"
        >
          Rejeitar
        </button>
        <button
          class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 ml-4"
          (click)="onConfirmClick()"
        >
          Aceitar
        </button>
      </div>
    </div>
</div>



  
