<div class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50">
  <div class="w-auto bg-white p-6 rounded-lg shadow-md">
    <div class="flex items-center justify-between mb-4">
      <h2 class="text-xl font-semibold">Confirmação</h2>
      <button (click)="onCancelClick()" class="text-red-500 font-normal">Fechar</button>
    </div>

    <table class="w-full">
      <thead class="font-semiboldb">
        <tr>
          <th class="pr-2 text-start">Produto</th>
          <th class="p-2 text-start">Quantidade</th>
          <th class="p-2 text-start">Valor produto</th>
          <th class="p-2 text-start">Valor total</th>
          <th class="p-2 text-start">Prazo de entrega</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td class="pr-2 text-center">{{ product.nome }}</td>
          <td class="p-2 text-center">{{ product.quantidade }}</td>
          <td class="p-2 text-center">{{ product.valor | currency: "BRL" }}</td>
          <td class="p-2 text-center">{{ calculateTotalValue() | currency:'BRL' }}</td>
          <td class="p-2 text-center">{{ calculateDeliveryDate() }}</td>
        </tr>
      </tbody>
    </table>

    <div class="my-4 font-medium">
      <p>Tem certeza de que deseja aceitar o orçamento?</p>
    </div>

    <div class="flex justify-between">
      <button class="px-4 py-2 border-2 border-red-500 text-red-500 rounded mr-4" (click)="onRejectClick()">
        Rejeitar
      </button>
      <button class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 ml-4" (click)="onConfirmClick()">
        Aceitar
      </button>
    </div>
  </div>
</div>
