<app-box *ngIf="selectedReport">
  <div class="w-full">
    <h2 class="font-medium flex gap-1">
      Detalhes do Cliente:
      <p class="font-normal">{{ selectedReport.nome }}</p>
    </h2>

    <div #pdfContent class="p-2">
      <div class="table-container overflow-x-auto">
        <table
          class="w-full text-center text-sm text-gray-500 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Nome</th>
            <th scope="col" class="px-6 py-3">E-mail</th>
            <th scope="col" class="px-6 py-3">CPF</th>
            <th scope="col" class="px-6 py-3">Telefone</th>
            <th scope="col" class="px-2 py-3">Cep</th>
            <th scope="col" class="px-2 py-3">UF</th>
            <th scope="col" class="px-2 py-3">Cidade</th>
            <th scope="col" class="px-2 py-3">Bairro</th>
            <th scope="col" class="px-2 py-3">Rua</th>
          </tr>
          <tbody>
            <tr class="border-b bg-white">
              <td class="w-32 p-4">{{ selectedReport.nome }}</td>
              <td class="w-32 p-4">{{ selectedReport.email }}</td>
              <td class="w-32 p-4">{{ selectedReport.cpf }}</td>
              <td class="w-32 p-4">{{ selectedReport.telefone }}</td>
              <td class="w-32 p-4">{{ selectedReport.cep }}</td>
              <td class="w-4 p-4">{{ selectedReport.uf }}</td>
              <td class="w-32 p-4">{{ selectedReport.cidade }}</td>
              <td class="w-32 p-4">{{ selectedReport.bairro }}</td>
              <td class="w-32 p-4">{{ selectedReport.rua }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="p-2">
        <div class="table-container overflow-x-auto">
          <table class="w-full text-center text-sm text-gray-500 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Número do pedido</th>
              <th scope="col" class="px-6 py-3">Data do pedido</th>
              <th scope="col" class="px-6 py-3">Status do pedido</th>
              <th scope="col" class="px-6 py-3">Valor</th>
            </tr>
            <tbody>
              <tr class="border-b bg-white" *ngFor="let order of selectedReport.pedidos">
                <td class="w-32 p-4">{{ order.id }}</td>
                <td class="w-32 p-4">{{ order.data | date: "dd/MM/yyyy - HH:mm" }}</td>
                <td class="w-32 p-4">{{ order.status }}</td>
                <td class="w-32 p-4">R$ {{ order.valor }},00</td>
              </tr>              
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="flex flex-col w-full items-end mb-2">
      <ng-container *ngIf="!pdfConvertido; else pdfLink">
        <app-button
          [success]="false"
          (click)="selectedReport && convertToPDF(selectedReport)"
        >
          Converter para PDF
        </app-button>
      </ng-container>

      <ng-template #pdfLink>
        <a
          *ngIf="pdfConvertido && selectedReport"
          [href]="pdfDataUri"
          download="{{ selectedReport.nome }}.pdf"
        >
          <app-button [success]="true">Baixar PDF</app-button>
        </a>
      </ng-template>
    </div>
  </div>
</app-box>
<app-error-alert *ngIf="showErrorAlert"></app-error-alert>
