<app-box>
  <div class="w-full">
    <h2 class="text-xl text-mainBlue font-bold">Lista de clientes fiéis</h2>
    <ng-container *ngIf="reports && reports.length > 0; else empty">
      <div class="w-full">
        <div #pdfContent class="p-2">
          <div class="table-container overflow-x-auto">
            <table class="w-full text-center text-sm text-gray-500 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">Id</th>
                <th scope="col" class="px-6 py-3">Nome</th>
                <th scope="col" class="px-6 py-3">CPF</th>
              </tr>
              <tbody>
                <tr class="border-b bg-white" *ngFor="let report of reports">
                  <td class="w-32 p-4">{{ report.id }}</td>
                  <td class="w-32 p-4">{{ report.nome }}</td>
                  <td class="w-32 p-4">{{ formatarCPF(report.cpf) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="flex flex-col w-full items-end mb-2">
          <ng-container *ngIf="!pdfConvertido; else pdfLink">
            <app-button [success]="false" (click)="convertToPDF()">
              Converter para PDF
            </app-button>
          </ng-container>
          <ng-template #pdfLink>
            <a *ngIf="pdfConvertido" [href]="pdfDataUri" download="Relatorio.pdf">
              <app-button [success]="true">Baixar PDF</app-button>
            </a>
          </ng-template>
        </div>
      </div>
    </ng-container>
    <ng-template #empty>
      <div class="w-full">
        <app-no-data-found></app-no-data-found>
      </div>
    </ng-template>
  </div>
</app-box>
<app-error-alert *ngIf="showErrorAlert"></app-error-alert>