<div
  *ngIf="showAlert"
  class="fixed z-60 bottom-0 right-0 mr-8 text-white px-6 py-4 border-0 rounded mb-4 bg-sky-500 transition-transform transform translate-x-0 flex items-center"
>
  <span class="text-xl inline-block mr-2 align-middle">
    <mat-icon fontIcon="add_alert"></mat-icon>
  </span>
  <span class="inline-block align-middle mr-2">
    <b class="font-medium">Item adicionado com sucesso ao carrinho</b>
  </span>
  <button
    class="bg-transparent text-2xl font-medium leading-none outline-none focus:outline-none"
    (click)="showAlert = false"
  >
    <span>×</span>
  </button>
</div>
