<app-box>
    <div class="w-[1429px] bg-white bg-opacity-90">
        <h1 class="w-[403.85px] text-zinc-900 text-[1.5rem] font-bold">BEM-VINDO(A), CLIENTE!</h1>
        <div class="flex items-center justify-center">
            <button class="bg-sky-700 px-16 py-4 rounded text-white w-42"> Novo Pedido </button>
            <p class="w-[521.09px] text-zinc-900 text-[1rem] font-light text-center"> Com nosso toque mágico, cada peça
                <br />conta uma
                história de frescor e limpeza.
            </p>
            <img src="assets/maquina.png" />
        </div>

    </div>
</app-box>
<app-box>
    <div class="w-full bg-white bg-opacity-90">
        <div class="flex justify-between items-center">
            <h2 class="text-xl text-mainBlue font-bold mr-32">Pedidos Abertos</h2>
            <div class="flex items-center">
                <app-button class="m-4"> Histórico de Pedidos </app-button>
                <button class="bg-sky-700 px-4 py-2 rounded text-white w-48"> Novo Pedido </button>
            </div>
        </div>
        <div>
            <ul>
                <li
                    class="bg-white bg-opacity-90 flex justify-between border-light-blue-500 flex w-auto h-auto p-4 rounded-md border-2 border-solid mb-4">
                    Pedido número: 1234
                    <button class="bg-rose-500 px-4 py-2 rounded text-white w-48">Cancelar Pedido</button>
                </li>
                <li
                    class="bg-white bg-opacity-90 flex justify-between border-light-blue-500 flex w-auto h-auto p-4 rounded-md border-2 border-solid mb-4">
                    Pedido número: 1235
                    <button class="bg-rose-500 px-4 py-2 rounded text-white w-48">Cancelar Pedido</button>
                </li>
            </ul>
        </div>
    </div>
</app-box>