<div class="relative h-full w-full flex flex-col items-center justify-center">
  <img
    class="bg-cover w-full h-auto"
    src="assets/background.jpg"
    alt="Imagem de Fundo"
  />

  <div
    class="absolute opacity-90 bg-customGray w-[480px] h-[588px] rounded-lg p-8 flex flex-col"
  >
    <h1 class="text-4xl mt-16 text-mainBlue font-bold mb-4 text-center">
      Cadastro
    </h1>
    <div [class]="'form-group flex flex-col gap-4'">
      <input
        placeholder="Nome de usuário"
        name="nome"
        type="text"
        [(ngModel)]="newUser.nome"
        class="border rounded h-10 w-[416px] pl-2 focus:outline-none"
        required
      />
      <input
        placeholder="E-mail"
        name="email"
        type="email"
        [(ngModel)]="newUser.email"
        class="border rounded h-10 w-[416px] pl-2 focus:outline-none"
        required
      />
      <div class="flex justify-between gap-8">
        <input
          placeholder="CPF"
          name="cpf"
          type="number"
          [(ngModel)]="newUser.cpf"
          class="border rounded h-10 w-48 pl-2 focus:outline-none"
          required
        />
        <input
          placeholder="Telefone"
          name="telefone"
          type="tel"
          class="border rounded h-10 w-48 pl-2 focus:outline-none"
          [(ngModel)]="newUser.telefone"
          required
        />
      </div>
      <div class="flex justify-between gap-8">
        <input
          placeholder="CEP"
          name="cep"
          type="number"
          class="border rounded h-10 w-64 pl-2 focus:outline-none"
          [(ngModel)]="newUser.cep"
          required
        />
        <input
          placeholder="UF"
          name="uf"
          type="text"
          class="border rounded h-10 w-32 pl-2 focus:outline-none"
          [(ngModel)]="newUser.uf"
          required
        />
      </div>
      <div class="flex justify-between gap-8">
        <input
          placeholder="Cidade"
          name="cidade"
          type="text"
          class="border rounded h-10 w-48 pl-2 focus:outline-none"
          [(ngModel)]="newUser.cidade"
          required
        />
        <input
          placeholder="Bairro"
          name="bairro"
          type="text"
          class="border rounded h-10 w-48 pl-2 focus:outline-none"
          [(ngModel)]="newUser.bairro"
          required
        />
      </div>
      <input
        placeholder="Rua"
        name="rua"
        type="text"
        [(ngModel)]="newUser.rua"
        class="border rounded h-10 w-[416px] pl-2 focus:outline-none"
        required
      />
      <div class="flex items-center justify-between gap-5 w-full">
        <app-button [success]="true" (click)="onSubmit()"
          >Criar conta</app-button
        >
        <a routerLink="/login"
          ><app-button [success]="false">Voltar</app-button></a
        >
      </div>
    </div>
  </div>
</div>
