<div class="relative h-full w-full flex flex-col items-center justify-center">
  <img
    class="bg-cover w-full h-auto"
    src="assets/background.jpg"
    alt="Imagem de Fundo"
  />

  <div class="absolute opacity-90 bg-customGray w-[480px] h-[588px] rounded-lg p-8 flex flex-col">
    <h1 class="text-4xl mt-16 text-mainBlue font-bold mb-4 text-center">Cadastro</h1>

      <div class="flex flex-col gap-4">
        <app-input
          size="default"
          icon="person"
          type="text"
          placeholder="Nome"
        ></app-input>
        <app-input
          size="default"
          icon="email"
          type="email"
          placeholder="E-mail"
        ></app-input>
        <div class="flex justify-between gap-8">
          <app-input
            size="sm"
            icon="search"
            type="number"
            placeholder="CPF"
          ></app-input>
          <app-input
            size="sm"
            icon="phone"
            type="tel"
            placeholder="Telefone"
          ></app-input>
        </div>
        <div class="flex justify-between gap-8">
          <app-input
            size="lg"
            icon="location_on"
            type="number"
            placeholder="CEP"
          ></app-input>
          <app-input
            size="xs"
            icon="location_on"
            type="text"
            placeholder="UF"
          ></app-input>
        </div>
        <div class="flex justify-between gap-8">
          <app-input
            size="sm"
            icon="location_on"
            type="text"
            placeholder="Cidade"
          ></app-input>
          <app-input
            size="sm"
            type="text"
            icon="location_on"
            placeholder="Bairro"
          ></app-input>
        </div>
        <app-input
          size="default"
          icon="location_on"
          type="text"
          placeholder="Rua"
        ></app-input>
        <div class="flex items-center justify-between gap-5 w-full">
          <a routerLink="/login"><app-button [success]="true">Criar conta</app-button></a>
          <a routerLink="/login"><app-button [success]="false">Voltar</app-button></a>
        </div>
      </div>

  </div>
</div>
